# Auto detect text files and perform LF normalization
* text=auto

# CP/M files with these file extensions uses CR/LF
*.sub text eol=crlf

# CP/M files with these file extensions are binary
*.com binary


